/* TODO: this overwrites the content wrap settings on every page */
#content-wrap {
    margin:0;
    padding:0;
}

#expert .nav-tabs .nav-link {
    background-color: #111;
    color: #888;
}

#expert .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #333;
    border-color: #757575;
}

/* Slider divs */
#expert > div:first-child > div:not(.resizble-fragment) {
    background-color: #1a1d23;
}

#expert > div:first-child > div:not(.resizble-fragment):hover {
    background-color: #1c1f26;
}

#expert > div:first-child > div:not(.resizable-fragment)::before {
    border-radius: 2px;
    border: 2px solid #9a9a9a;
    content: "";
    height: 10vh;
    margin-left: 3px;
    margin-top: 40vh;
    position: absolute;
    text-align: center;
}

#expert > div:first-child > div:not(.resizable-fragment):hover::before {
    border: 2px solid #ffffff;
}

#expert-canvas > .card-title, #expert-workspace > .card-title {
  text-align: center;
}

#expert-canvas .range-slider__wrap {
    margin: 0 10px 0 10px;
    flex-grow: 1;
    justify-content: center;
}

#expert-canvas .range-slider__wrap > input {
    width: 100%;
}

#expert-canvas .range-slider__wrap .range-slider__tooltip__label {
    text-align: center;
}

#expert-canvas-image {
    background-color: #f8f8f8;
    background-clip: content-box;
}

#expert .scroll {
    height: 100vh;
    overflow-y: scroll;
}

#expert .menu-btn {
    margin: 6px;
}

#expert-code {
    background-color: #f8f8ff;
}

#expert-code, #expert-code textarea, #expert-code pre, #expert-code pre span {
    caret-color: black;
    color: #333;
    font-variant-ligatures: common-ligatures;
    font-family: "Fira code", "Fira Mono", monospace;
    font-size: 1rem;
}

#expert-code .keyword {
    color: #007bff;
}

#expert-code .macros {
    color: #ffa500;
}

#expert-code .number {
    color: #dc3545;
}

#expert-code .params {
    color: #008000;
}

#expert-code .paren {
    background-color: #008000;
}

#expert-code .symbol {
    color: #500650;
}

#expert {
  /* Cancel out footer margin */
  margin-bottom: -20px;
}

/*#expert-code-area {
    tab-size: 4ch;
    max-height: 400px;
    overflow: auto;
}*/

#expert-canvas {
    padding: 20px 10px 10px 10px;
}

#expert-canvas-image {
    padding: 20px;
}

#expert-workspace {
    color: #f8f8ff;
    padding: 20px;
}

#expert #message {
    background-color: #353b48;
    color: #ff0000;
}

#expert .canvasButton {
    background-color: #012968;
}

#expert .insertButton {
    border: #011d2e;
    background-color: #013655;
}

#expert .panel {
    background-color: #272727;
}

#expert .formTextbox {
    background-color: #f8f8ff;
}
